.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage img {
  width: 100%;
}
.homePage h1, p {
  text-align: left;
  margin: 10px
}
.homePage Link, a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 60px;
  background-color: cornflowerblue;
  
}

.beerDiv {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.beerDetailsSection {
  margin-left: 100px;
  padding-left: 100px;
}

.beerImgSection {
  width: 200px;

}

.beerDetails {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.beerDetails img {
  width: 75px;
}

.beerDetails section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.newBeer form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  padding-top: 20px;
  width: 400px;
}

.newBeer input {
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  width: 300px;
  }

.submitButton {
  width: 60px;

}

textarea {
  width: 300px;
  border-radius: 10px;
}
